<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%BF%D0%BF,_%D0%94%D0%B6%D0%BE%D0%BD%D0%BD%D0%B8">Джонни Депп</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B5%D1%80%D0%B4,_%D0%AD%D0%BC%D0%B1%D0%B5%D1%80">Эмбер Херд &#128169;</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8_%D0%9A%D0%B0%D0%BF%D1%80%D0%B8%D0%BE,_%D0%9B%D0%B5%D0%BE%D0%BD%D0%B0%D1%80%D0%B4%D0%BE">Леонардо ДиКаприо</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D1%82,_%D0%91%D1%80%D1%8D%D0%B4">Брэд Питт</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%B0%D0%BB%D0%B8%D0%BD,_%D0%98%D0%BE%D1%81%D0%B8%D1%84_%D0%92%D0%B8%D1%81%D1%81%D0%B0%D1%80%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%D0%B8%D1%87">Иосиф Сталин</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B8%D1%82%D0%BB%D0%B5%D1%80,_%D0%90%D0%B4%D0%BE%D0%BB%D1%8C%D1%84">Владимир Путин</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%BA%D1%80%D0%BE%D0%BD,_%D0%AD%D0%BC%D0%BC%D0%B0%D0%BD%D1%8E%D1%8D%D0%BB%D1%8C">Эмманюэль Макрон</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B0%D0%BF%D0%BB%D0%B8%D0%BD,_%D0%A7%D0%B0%D1%80%D0%BB%D1%8C%D0%B7">Чарли Чаплин</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%9C%D1%8D%D1%80%D0%B8%D0%BB%D0%B8%D0%BD_%D0%9C%D0%BE%D0%BD%D1%80%D0%BE">Мерлин Монро</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%95%D0%BB%D0%B8%D0%B7%D0%B0%D0%B2%D0%B5%D1%82%D0%B0_II#:~:text=%D0%95%D0%BB%D0%B8%D0%B7%D0%B0%D0%B2%D0%B5%D1%82%D0%B0%20II%20%D0%B2%D0%B7%D0%BE%D1%88%D0%BB%D0%B0%20%D0%BD%D0%B0%20%D0%BF%D1%80%D0%B5%D1%81%D1%82%D0%BE%D0%BB,%D0%AE%D0%B6%D0%BD%D0%BE%D0%B9%20%D0%90%D1%84%D1%80%D0%B8%D0%BA%D0%B8%2C%20%D0%9F%D0%B0%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD%D0%B0%20%D0%B8%20%D0%A6%D0%B5%D0%B9%D0%BB%D0%BE%D0%BD%D0%B0.">Елизавета II</a></li>
    
    </ul>
    <div class="inputblock">
        <input type="text" class="myInput" placeholder="Введите имя знаменитости">
        <button class="clickButton"> Добавить </button>
      </div>
      <ul class="textOutput"></ul>

    <script>

first("button").addEventListener("click", function() {
    let val = first(".myInput").value.trim();
    if (!val) return;
  
    first(".textOutput").insertAdjacentHTML("beforeEnd", prepare(val));
    first(".myInput").value = '';
  });
  
  function prepare(text) {
    return "<li>" + text.split(/\s+/).map(wrap_span).join(" ") + "</li>";
    

    function wrap_span(word) {    
      let color = /[!@#$&*%]/.test(word) ? "red" : word.length > 3 ? "black" : "";
  
      return `<span style="color: ${ color }">${ word }</span>`;
    }
  }
  
  function first(str) {
    return document.querySelector(str);
  }


    </script>
</body>
</html>